Improve the documentation of ics

## Situation

The current documentation contains a short introduction to the ICS format, an API description, some "advanced usage" section, and others.

However, in its current state, the documentation IMHO has some problems:

* Mixup of Different Documentation Types
  The documentation doesn't distinguish between API, Tutorial, Quick Starts etc. Yes, somehow they are all there, but they mixed up and aren't distinguished properly.
* Lack of Examples
  As ICS itself can be complex, it is not always clear how to use all the classes, functions, and their parameters. There are some brief examples in the Quickstart section, but as soon as it gets more complicated, the developer is lost.
* Not aware of the Needs of a Developer
  The documentation has one specific target group: developers. As such, the documentation needs to address the needs for this group. For example, a developer needs to know how to install the library, how to use them, and maybe how to expand it.

I don't want to sound too negative, but these issues above makes it hard to find answers to questions developers may have when using this library. Some questions could be:

* What is the difference between `datetime.datetime` and `arrow.arrow.Arrow`? When should I use the former, when the latter? What are the pros and cons?
* How can I create recurring events?
* How can I create events that have specific properties?

When I've discovered this library, I was exactly finding answers to above questions. IMHO, the documentation should provide answers and help developers.

## Proposed Solution

First of all: An API summary is **not** a user documentation! An API is a *reference* of classes, functions, etc. usually automatically created.
It can be useful when you need to know which signature a function has, which datatypes are required etc.  But an API is bad at describing the "big picture". :wink: 

So when I write "documentation", I mean *user documentation*. 

So how could we make better user documentation? First of all, we need to put ourselves in the shoes of an ordinary developer. Think of a developer who discovers this library for the first time, wants to use them, but has limited time. What would he need?

One way to do that is to think of "actions": read an existing ICS file, create a new calender, create new events, create specific events, write a ICS file, etc.  Plus we need to distinguish between referential text (APIs, ICS overview) and procedural text (using the library).

From this idea, I derived my table of content:

```
1. Quickstart
    This contains a very brief overview how you can use the library.
     It could also add a list of features.

2. Overview of the ICS format
    Describe the format, give some background information,
    what are the benefits, what are the problems? Should the
    developer be aware of some incompatibilities? Can the
    format be extended?
   Could also be located at the end of the documentation.

3. Installing ics
    Probably a very short chapter, but not all developers know
    how to install a library in Python.
    Usually with pip, but maybe there are specific actions needed
    for other OSs?

4. Using ics
    4.1 Reading an ICS file
    4.2 Accessing Events in a ICS file
    4.3 Creating a new ICS calendar
    4.4 Creating Events
    4.5 Creating Recurring Events
    4.6 Creating Special Events
    4.7 Adding Custom Properties to Events
    4.8 [....]

5. Troubleshooting ics
    If something goes wrong, this could be the chapter to find
    solutions. 

6. Contribute to ics

7. API

8. Changelog
    Document the changes from version to version. Usually, this
    can be done (semi)automatically.
```

As you can see, procedural texts starts with a verb ("Using", "Creating" etc.). Referential texts have nouns (API).

## Benefits

* Your documentation is an advertisement of your work.
* Helps developers to know all of the feature and the potential of this library.
* Keeps developers happy (know how to use it, less time spent on finding correct code).
* Clarifies goals and requirements.
* Reduce time spent on finding accurate answers.
* Serves also as a "knowledge base" when people open issues which are already answered and documented.

## See also

Good examples of documentations:

* https://python-semver.readthedocs.io/
* https://docs.pytest.org/

Here's also a [very good article](https://www.divio.com/blog/documentation/) on the different types of documentation for whoever is interested:
> There is a secret that needs to be understood in order to write good software documentation: there isn’t one thing called documentation, there are four. 

I'm currently working on some code changes that might require quite some internal restructuring (see #222) but tackling the documentation once this is done would be a very good thing, imho. Would you be willing to help us in doing so? :)

Hi @N-Coder :wave: 

> Would you be willing to help us in doing so? :)

Sure, I can try to. ;-) Unfortunately, I'm not familiar with the code base. But maybe we can work together to find something that works for all. :-)

Good luck with your restructuring! :+1: 

Thanks @tomschr for this detailed argumentation. You are completely right, the documentation as is is not as good as it should be.
Your proposed table of contents looks quite nice.

What would you think of opening a PR moving the existing documentation to your layout and then waiting for #222 to be merged tho fill it more ?

@C4ptainCrunch Thank you. :blush: My proposed table was just a suggestion. In the light of the comment https://github.com/C4ptainCrunch/ics.py/issues/220#issuecomment-581415867 from @N-Coder I will look again if I can adjust the suggestion to one of the four types (tutorial, how-to guides, explanation, reference).

Sure, I can come up with a suggestion. However, I don't know much about ics (yet). I'm still feel a bit lost what I can do with this library. :wink: 

What I can offer is to create a skeleton, add some comments and tips how it could work. Others who are more qualified than I could fill in the gaps. Would that work?

I can help out filling the details on how to use the library practically.

Currently, I don't know that much about the internals and the history of the ics parser. I remember that a year ago or so when I first dug around in the code, it seemed to be based on some simple string-splitting. With #194, TatSu was introduced to parse the ics EBNF grammar. Is there any work remaining in that direction or can we just say "we now support the language as specified by RFC and that's all we need to do" regarding the backend?

I also know that there is a package called [icalendar](https://pypi.org/project/icalendar/), also for parsing of ics files, but with a much less pythonic API. They basically provide generic access to the specified containers without much Event/Calendar-specific adaptations. Looking at the bigger picture, that could maybe be useful for doing a kind of high-level pythonic API (that's us) and low-level language/data parsing (that's `icalendar`, so that we no longer need to worry about the parsing part) split?

Anyways, comparing the two libraries might also be a good thing to include in the documentation for possible future users.

Ok, to summarize and to apply Nick's wonderful link, I think the most three important types would be:

* **How-To** (goal-oriented)
  * Examples:
    * Create a calender with events
    * Manage recurring events
    * Convert CVS files into a calendar

* **Tutorial** (learning-oriented)
  * Examples:
    * Getting Started
    Describes how to read calendar files, make "easy" changes, and write it back.

* **Reference** (information-oriented)
  * Example: API

I will come up with a (hopefully) better table of content which combines the above types with the one that I've posted as a first comment. Give me some more days, maybe I can create a pull request. That makes it easier to comment and we can discuss it.

---

> Anyways, comparing the two libraries might also be a good thing to include in the documentation for possible future users.

That would probably a type for *Explanation* (understanding-oriented). :wink: 

I'd still keep the section with some very brief information on the ics format - maybe also at the beginning and not too deep within the Explanation section. We can borrow the important basics from Wikipedia: iCalendar is the standard and .ics the filename extension (so both can be used interchangeably and refer to the same and not competing standards), the relevant RFC is RFC 5545 (Superseding vCalendar and also RFC 2445, Updated by RFC 5546, RFC 6868, RFC 7529, RFC 7986 - for which we might provide a short summary),...
Also nice to know is that the CalDAV extension to WebDAV is mostly transferring .ics files via HTTP, which is why this library might be used in conjunction with some other library implementing HTTP and the additional verbs defined by DAV. We could thus add [caldav](https://pythonhosted.org/caldav/caldav/objects.html#caldav.objects.Event) to the list of related projects, once again with a not very user-friendly or pythonic Calendar and Event API. 

As PR #223 is already merged, can we close it? :wink: 

I don't know, I guess there still are things that should be done about the documentation, especially once #240 is in. We could use this issue as a kind of Meta-issue to collect open todos and wishes (or open a new one for doing that). Things I'm currently aware of (in no particular order and without properly assigned categories from above):

- how to extend the library (e.g. new fields, components or data types)
- how to handle broken data
- some information on the ics format and how we work with it
- comparison with other libraries
- improved reference through inline code / API documentation
- maybe more tutorials on how to use different parts of the library
- ...

Ah I see, it servers as a kind of reminder. Good idea. :bulb: :+1: 