Add CATEGORIES support

The attached patch adds support for CATEGORIES lines ([RFC 5545, section 3.8.1.2](https://tools.ietf.org/html/rfc5545#section-3.8.1.2)), and adds a pair of unit tests for it.  I request that it be reviewed and integrated into the code base.  If there are any concerns, please let me know and I'll address them.  Thanks.

[ics-categories.patch.txt](https://github.com/C4ptainCrunch/ics.py/files/1949272/ics-categories.patch.txt)


Your patch was applied in 9113f6c54aabce306e1269976c401f4988ea4737 thank you very much !